<!-- MAIN START -->
<main class="sl-main">
    <section class="sl-main-section providers-list-container">
        <div class="container">
            <div class="sl-serviceProvider">
                <div class="sl-filters">
                    <p><a href="javascript:void(0);" routerLink="/categories">All Categories</a><i class="ti-angle-right"></i>{{categoryName}}</p>

                </div>
                <div class="row">
                    <div class="col-lg-4 col-xl-3">
                        <aside id="sl-asidebar" class="sl-asidebar">
                            <div class="sl-asideholder">
                                <a href="javascript:void(0);" id="sl-closeasidebar" class="sl-closeasidebar">
                                    <i class="lnr lnr-layers"></i>
                                </a>
                                <div class="sl-asidescrollbar">
                                    <div id="sl-sidebarprivacy" class="sl-sidebarprivacy">
                                        <div class="sl-widget-holder">
                                            <div class="sl-widget">
                                                <div class="sl-widget__title">
                                                    <h3>Filter By</h3>
                                                    <a class="mn-reset-filter" (click)="uncheckAllFilters()"><strong>Reset All</strong></a>
                                                </div>
                                                <mat-spinner [diameter]="30" class="m-auto" [hidden]="isSubcategoryLoaded"></mat-spinner>
                                                <div class="sl-widget__content">
                                                    <ul class="sl-widget__categories">
                                                        <li *ngIf="!isSubcategoryDataSuccess">
                                                            No filters for this category.
                                                        </li>
                                                        <li *ngFor="let subCategory of subCategories">
                                                            <label>{{subCategory.subCategoryName}}</label>
                                                            <input #filterCheckboxes name="{{subCategory.subCategoryName}}" type="checkbox">
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div matRipple [matRippleColor]="color">
                                            <button (click)="getProviders(0,9)" class="btn sl-btn sl-btn-active">Apply filter</button>
                                        </div>
                                        <div class="sl-sidebar-ad">
                                            <a href="javascript:void(0);"><img src="https://mynestonline.com/collection/images/vendor-advertisement/{{serviceAd}}" alt="Image Description"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </aside>
                    </div>
                    <div class="col-lg-8 col-xl-9">
                        <div class="sl-serviceProvider__content">
                            <div class="row">
                                <mat-spinner [diameter]="30" class="m-auto" [hidden]="isProvidersLoaded"></mat-spinner>
                                <div *ngIf="!isProvidersDataSuccess" class="mn-no-results" fxLayout="column" fxLayoutAlign="center center">
                                    <img src="assets/images/vendor/no-results.png">
                                    <p>Sorry, that filter combination has no results.<br>Please try a different criteria</p>
                                </div>
                                <div class="col-sm-6 col-lg-4 col-xl-4" *ngFor="let provider of providers | paginate:config">
                                    <div class="sl-slider" [routerLink]="['/provider/'+provider.vendorId]" matRipple [matRippleColor]="darkColor" [matRippleRadius]="100">
                                        <figure>
                                            <a href="javascript:void(0);"><img src="https://mynestonline.com/collection/images/company-profile/{{getImagePath(provider.profilePic)}}" alt="Image Description"></a>
                                            <a href="javascript:void(0);"><img style="width:48px;height:48px;" src="https://mynestonline.com/collection/images/company-logo/{{getImagePath(provider.logo)}}" alt="Image Description"></a>
                                            <a href="javascript:void(0);" (click)="toggleWishlist(provider,$event)" class="sl-like" [class.liked]="provider.wishListed"><i class="far fa-heart"></i></a>
                                        </figure>
                                        <div class="sl-slider__content">
                                            <div class="sl-slider__header">
                                                <div class="sl-slider__tags">
                                                    <a href="javascript:void(0);" class="sl-bg-gold" *ngIf="provider.premium">Premium</a>
                                                    <a href="javascript:void(0);" class="sl-bg-green" *ngIf="provider.verified">Verified</a>
                                                    <div class="mn-contact">
                                                        <a (click)="$event.stopPropagation()" href="https://wa.me/{{provider.whatsappNum}}/?text=Hello" target="_blank"><img src="assets/images/icons/whatsapp.png"></a>
                                                        <a (click)="goToChatroom(provider,$event)" href="javascript:void(0);"><img src="assets/images/icons/chatblu.png"></a>
                                                    </div>
                                                </div>
                                                <h5 class="mt-3"><a href="javascript:void(0);">{{provider.companyName}}</a></h5>
                                            </div>
                                            <div class="sl-slider__footer">
                                                <div class="mn-tags">
                                                    <span *ngFor="let tags of provider.subCategories">{{tags}}</span>
                                                </div>
                                                <div class="mn-footer-content">
                                                    <em><a (click) ="$event.stopPropagation()" href="https://www.google.com/maps/search/?api=1&query={{provider.latitude}},{{provider.longitude}}" target="_blank"><i class="ti-location-pin"></i>&nbsp;{{provider.location}}</a></em>
                                                    <div class="sl-shareHolder">
                                                        <a (click)="toggleShareHolder($event)" class="slShareHolder"><i class="ti-sharethis"></i></a>
                                                        <div class="sl-shareHolder__option">
                                                            <ul class="sl-socialicons">
                                                                <li class="sl-facebook">
                                                                    <a (click)="$event.stopPropagation()" href="https://www.facebook.com/sharer/sharer.php?u={{getShareLink(provider.vendorId)}}" target="_blank"><i class="fab fa-facebook-f"></i></a>
                                                                </li>
                                                                <li class="sl-twitter">
                                                                    <a (click)="$event.stopPropagation()" href="https://twitter.com/intent/tweet?url={{getShareLink(provider.vendorId)}}" target="_blank"><i class="fab fa-twitter"></i></a>
                                                                </li>
                                                                <li class="sl-rss">
                                                                    <a (click)="$event.stopPropagation()" href="https://mail.google.com/mail/?view=cm&fs=1&su={{getEncoded(provider.companyName)}}&body={{getShareLink(provider.vendorId)}}" target="_blank"><i class="far fa-envelope"></i></a>
                                                                </li>
                                                                <li class="sl-linkedin">
                                                                    <a (click)="$event.stopPropagation()" href="https://www.linkedin.com/sharing/share-offsite/?url={{getShareLink(provider.vendorId)}}" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <pagination-controls (pageChange)="pageChange($event)" autoHide="true" responsive="true" previousLabel="" nextLabel=""></pagination-controls>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<!-- MAIN END -->