<!-- FOOTER START -->
<footer>
    <section class="sl-footer-section sl-footerCenter">
        <div class="container">
            <div class="row footer-box">
                <div class="col-lg-6">
                    <div class="sl-footerCenter__logoSection">
                        <a href="javascript:void(0);"><img src="assets/images/index/footer/footer-logo.png" class="footer-logo" alt="Image Description"></a>
                        <p>Mynestonline is a platform to facilitate construction related business and service providers in kerala. This platform is designed to benefit both the businesses/services who wish to post their business and users those who are in
                            immediate search of needful.</p>
                        <ul class="sl-brands">
                            <li><a target="_blank" href="https://www.facebook.com/Mynestonlineofficial"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a target="_blank" href="https://www.linkedin.com/company/mynest-online"><i class="fab fa-linkedin-in"></i></a></li>
                            <li><a target="_blank" href="https://www.instagram.com/mynestonline"><i class="fab fa-instagram"></i></a></li>
                            <li><a target="_blank" href="https://www.youtube.com/channel/UCe4E2AObZrHk5V5cGVJrKFQ"><i class="fab fa-youtube"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <ul class="sl-footerCenter__contact">
                        <li>
                            <i class="fas fa-headphones-alt"></i>
                            <div class="sl-footerCenter__contact__description">
                                <p>24/7 Support:</p>
                                <h6><a href="javascript:void(0);">+91 6238429400</a></h6>
                            </div>
                        </li>
                        <li>
                            <i class="fas fa-envelope"></i>
                            <div class="sl-footerCenter__contact__description">
                                <p>Say Hello To Us</p>
                                <h6><a href="javascript:void(0);">info@mynestonline.com</a></h6>
                            </div>
                        </li>
                        <li>
                            <i class="fas fa-map-marker-alt"></i>
                            <div class="sl-footerCenter__contact__description">
                                <p>Our Active Location</p>
                                <h6><a href="javascript:void(0);">Kakkanad, Kochi</a></h6>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="sl-footerCenter__newsletter">
                        <h6>Quick Links</h6>
                        <div class="mn-quick-links">
                            <div class="row">
                                <div class="col"><a href="javascript:void(0);" routerLink="/home">>&nbsp;Home</a></div>
                                <div class="col"><a href="javascript:void(0);" routerLink="/categories">>&nbsp;Categories</a></div>
                            </div>
                            <div class="row">
                                <div class="col"><a href="javascript:void(0);" routerLink="/newsfeeds">>&nbsp;Newsfeeds</a></div>
                                <div class="col"><a href="javascript:void(0);" routerLink="/faq">>&nbsp;FAQ</a></div>
                            </div>
                        </div>
                        <h6>Download Mobile App</h6>
                        <div class="sl-app">
                            <a href="javascript:void(0);"><img src="assets/images/index/footer/app/img-01.jpg" alt="Image Description"></a>
                            <a href="https://play.google.com/store/apps/details?id=ionic.mynest.customer"><img src="assets/images/index/footer/app/img-02.jpg" alt="Image Description"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="sl-footerLower">
        <div class="container">
            <div class="sl-footerLower__content">
                <p>Copyrights © 2021. All Rights Reserved by <a href="javascript:void(0);">MyNest</a>.</p>
                <ul class="sl-payments">
                    <li>
                        <a href="javascript:void(0);"><img src="assets/images/index/footer/payments/img-01.jpg" alt="Image Description"></a>
                    </li>
                    <li>
                        <a href="javascript:void(0);"><img src="assets/images/index/footer/payments/img-02.jpg" alt="Image Description"></a>
                    </li>
                    <li>
                        <a href="javascript:void(0);"><img src="assets/images/index/footer/payments/img-03.jpg" alt="Image Description"></a>
                    </li>
                    <li>
                        <a href="javascript:void(0);"><img src="assets/images/index/footer/payments/img-04.jpg" alt="Image Description"></a>
                    </li>
                    <li>
                        <a href="javascript:void(0);"><img src="assets/images/index/footer/payments/img-05.jpg" alt="Image Description"></a>
                    </li>
                    <li>
                        <a href="javascript:void(0);"><img src="assets/images/index/footer/payments/img-06.jpg" alt="Image Description"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<!-- FOOTER END -->