::ng-deep .mat-menu-panel {
    min-height: 52px!important;
    z-index: 9;
    overflow: unset!important;
}

.default-cursor {
    cursor: default!important;
}

.sl-sidebar-ad {
    cursor: pointer;
}

.sl-like {
    color: lightgray;
    font-size: 20px;
    position: absolute;
    top: 10px;
    left: 20px;
}